.hero {
  background-image: url("images/hero-img.png");
  background-size: cover;
  width: 95vw;
  margin: auto;
  background-repeat: no-repeat;
  border-radius: 35px;
  padding: 2em;
  min-height: 40vh;
  display: flex;
}

.hero h1 {
  color: white;
  font-size: 4em;
  max-width: 50vw;
  line-height: 1.25em;
  margin: auto 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  margin: 0 auto;
  justify-items: center;
  margin-bottom: 30px;
}
#foldable{
  margin-top: 20px;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  margin: 0 auto;
  justify-items: center;
}
section {
  background-color: #fdf8f1;
  color: #202e0a;
  padding-bottom: 3em;
}

span {
  margin: 50px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  align-items: center;
}
li{list-style: none;}

main > section > div > a li::before {
  content: "\2022";
  color: #e5ae08;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.green-button{
    height: 52px;
    width: 288px;
    margin: 0 auto;
    align-items: center;
    color: #fdf8f1;
}

section > .green-button {
    margin-top: 3em;
}
main > section > div > a {
  background-color: #202e0a0e;
  height: 331px;
  width: 276px;
  border-radius: 9px;
  transition: 0.2s;
  position: relative;
}

main > section > div > a:hover {
background-color: #F4CFA1;
}

main > section > div > a > li {
  margin-left: 30px;
  margin-top: 15px;
  font: weight 0, 5px;
  font-style: oblique;
}

main > section > div > a > div > h6 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  padding-left: 15px;
}

main > section > div > a > div > p {
  font-size: 22px;
  padding-left: 15px;
}

main > section > div > a > img {
  height: 197px;
  width: 276px;
  transform: translatey(15px);
}
main > section > div > a > div {
  transform: translatey(10px);
}

@media only screen and (max-width: 1130px) {
  .hero {
    min-height: 30vh;
  }

  /*.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
  }

@media only screen and (max-width: 800px) {
  .hero {
    min-height: 20vh;
  }
 }
  /*.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr%;
    grid-template-rows: 1fr 1fr;