@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    vertical-align: baseline;
	font-family: Lato;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	outline: 0;
	padding: 0;
	margin: 0;
}

body{
    background-color: #ffffff;
}

main{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2%;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
}

main *{
    border: 0px solid blue;
}

main > h2{
    text-align: center;
    align-self: center;
    font-size: 3rem;
}

main form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}

main label{
    grid-column-start: 1;
    text-align: end;
    align-self: center;
    transform:translateY(-0.5em)
}

main input[text]{
    display: flex;
    border: 1px solid #E38008;
    border-radius: 35px;
    justify-items: center;
    align-items: center;
    padding: 0.5em;
    margin: 1em auto;
    gap: 2em;
    max-width: 22em;
    display:none;
    overflow: hidden;
}

main > form > p, main input[text], main a[type="submit"]{
    grid-column-start: 2;
}

main a[type="submit"]{
    min-width: 10em;
}

.text-input{
    display: flex;
    border: 1px solid #E38008;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
    padding: 0.5em;
    margin: 1em auto;
    gap: 2em;
    overflow: hidden;
    max-height: 2em;
    max-width: 39vw;
    min-width: 20vw;
}

.text-input[placeholder="Escribe tu consulta"]{
    border-radius: 15px;
    max-width: 39vw;
    min-width: 20vw;
    min-height: 2em;
    max-height: 10em;
    
}

label[for="message"]{
    align-self: start;
    transform:translateY(1.5em)
}