@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    vertical-align: baseline;
	font-family: Lato;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	outline: 0;
	padding: 0;
	margin: 0;
}

main{
    display: grid;
    margin-top: 2%;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
}

main *{
}

main > h1{
    text-align: center;
    align-self: center;
    font-size: 3rem;
}

main label{
    grid-column-start: 1;
}

main input[text]{
    grid-column-start: 2;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    text-decoration: none;
    color:#202e0a;
}

footer img{
    display: flex;
    flex-direction: column;
    max-height: 64px;
}