@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 1em;
  background-color: transparent;
  color: #202e0a;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  /* grid-template-columns: 35% auto; */
  grid-template-rows: 10% auto auto auto;
  padding: 50px;
  
}
img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

img.img3 {
  width: 305px;
}
.title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 40px;
}
.images {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  align-self: center;
  padding: 3em;
}
.text1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-top: 45px;
}
.text2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-bottom: 45px;
}
.button {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.icon {
  width: 2em;
  height: 2em;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: 17px;
  font-style: italic;
  font-weight: lighter;
}
h2::before {
  content: "\2022";
  color: #e5ae08;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
li {
  list-style: none;
  padding: 10px;
}
ul li::before {
  content: "\2022";
  color: #e5ae08;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.orange-button {
  background-color: #f4cfa1;
  font-weight: bold;
  color: #202e0a;
  display: flex;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin: 1em auto;
  max-height: 4em;
  min-width: auto;
  max-width: 16em;
  transition: 300ms;
  gap: 1em;
}
.orange-button:hover {
  background-color: #e5ae08;
}

/* @media (max-width: 650px) {

} */

@media only screen and (max-width: 650px) {
  section {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 30px;
  }
  img {
    width: 125px;
    height: 150px;
  }
  img.img2,
  img.img3 {
    display: none;
  }
  .title {
    grid-column: 1 / 2;
    padding: 35px;
  }
  .images {
    grid-row: 2 / 3;
  }
  .text1 {
    grid-column: 2 / 3;
  }
  .text2 {
    grid-column: 1 / 3;
  }
  .button {
    grid-column: 1 / 3;
  }
  h1 {
    font-size: large;
  }
}
