@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0; 
    border:0;
    line-height: 1;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 0 1em 0 0;
}

.icon {
    width: 2em;
    height: 2em;
    margin-left: 2em;
}

nav form {
    display: flex;
    border: 1px solid #E38008;
    border-radius: 35px;
    justify-items: center;
    align-items: center;
    min-width: 25em;
    padding: 0.5em;
    margin: auto;
    justify-content: ;
}

.green-button {
    background-color: #202e0a;
    color: white;
    display: flex;
    border: none;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 0 6em 0 2em;
    max-height: 4em;
    min-width: 15em;
}

nav a {
    align-items: center;
}

.logo {
    min-width: 13em;
    min-height: 5em;
    margin-left: 0;
}
footer{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #202e0a;
}
.foot{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    
}
.footer_images{
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    background-color: #FDF8F1;
    color: #202E0A;


}
.grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr 20%; 
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Inter, Verdana, Tahoma, sans-serif;
    height: 680px;

}

span{
display: flex;}

article{
    background-color: #202e0a0e;
    height: 331px;
    width: 276px;
    border-radius: 9px;
    transition: .2s;
    position: relative;
    

}



article:hover{
    height: 335px;
}

article>li{
    margin-left: 30px;
    margin-top: 15px;
    font: weight 0,5px;
    font-style: oblique;
}

article>footer>h6{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 15px;

}

article>footer>p{
    font-size: 22px;
    padding-left: 15px;
}

article>img{
    height: 197px;
    width: 276px;
    transform: translatey(15px);
}
article>footer{
    transform: translatey(10px);
}

.card1 {
    grid-column-start: 2;

}

