@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0; 
    border:0;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 1em;
    background-color: transparent;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
strong, h3 {
    font-weight: bold;
}

a {
    color: #202e0a;
}

nav {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 0;
    max-width: 100vw;
}

.icon {
    width: 2em;
    height: 2em;
}

.search-bar {
    display: flex;
    border: 1px solid #E38008;
    border-radius: 35px;
    justify-items: center;
    align-items: center;
    padding: 0.5em;
    margin: 1em auto;
    gap: 2em;
    max-width: 22em;
    display:none;
    overflow: hidden;
}

nav .search-bar {
    display:flex;
}

nav .icon, .search-bar img {
    margin-left: 2em;
}
input {
    padding:0;
    background-color: transparent;
}

.green-button {
    background-color: #202e0a;
    color: white;
    display: flex;
    border: none;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: auto 6em auto 2em;
    max-height: 4em;
    min-width: 15em;
    transition: 300ms;
}

.green-button p {
    color:white;
}

.green-button:hover {
    background-color: #E38008;
}

nav a {
    align-items: center;
}

.logo {
    min-width: 13em;
    min-height: 5em;
    margin-left: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #F6F7F5;
    padding: 1em;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.dropdown-content a {
    display: block;
    padding-bottom: 1em;
    transition: 200ms;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.dropdown-content h3 {
    padding-bottom: 1em;
    padding-top: 1.5em
}

.dropdown-icon-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.dropdown-icon-div p{
    padding-left: 1em;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.bottom-bar {
    display: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    color: #202e0a;
    padding: 2em 2em 60px 2em;
    margin-top: auto;
}

footer a {
    transition: 200ms;
}

footer a:hover {
    font-weight: bold;
}

.foot{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer-images {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-items: center;
}

.whatsapp {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    justify-items: center;
}

.footer-images a {
    margin: 0.5em auto;
    justify-content: center;
}

footer .green-button p{
    margin: auto auto auto 2em;
}

footer .icon {
    margin: auto 1em auto 2em;
}

.orange-button {
    background-color: #f4cfa1;
    font-weight: bold;
    color: #202e0a;
    display: flex;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 1em auto;
    max-height: 4em;
    min-width: auto;
    max-width: 16em;
    transition: 300ms;
    gap: 1em;
}

.orange-button:hover {
    background-color: #E5AE08;
}

.whatsapp-button {
    font-weight: bold;
    color: #202e0a;
    display: flex;
    border: 2px solid #202e0a;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 1em auto;
    max-height: 4em;
    min-width: auto;
    max-width: 16em;
    transition: 300ms;
    gap: 1em;
    transition: 300ms;
}

.whatsapp-button:hover {
    border: 2px solid #E38008;
}

@media only screen and (max-width: 1130px) {
    nav .search-bar {
        display:none;
    }
    .search-bar {
        display:flex;
    }
}

@media only screen and (max-width: 800px) {
    nav .green-button, nav a:nth-child(5) {
        display:none;
    }

    .footer_logo a{
        margin: 0 auto;
        justify-content: center;
    }

    .bottom-bar {
        display: flex;
        background-color: #F6F7F5;
        justify-content: space-around;
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        max-width: 100vw;
        min-width: 100vw;
        padding: 5px;
        height: 60px;
        margin: auto 0;
    }

    .bottom-bar a {
        align-content: center;
        margin:auto;
    }

    footer {
        justify-content: center;
    }
    
}

